<div class="col-md-10 text-right">
  <h1>Actualités</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">objet</th>
        <th scope="col">lien</th>
        <th scope="col">derniére mise a jour</th>
        <th
          scope="col"
          *ngIf="adminservice.isloggedIn || connected == true  "
          style="text-align: center"
        >
          modifier
        </th>
        <th
          scope="col "
          *ngIf="adminservice.isloggedIn || connected == true"
          style="text-align: center"
        >
          supprimer
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of actualites">
        <td>{{ t.objet }}</td>
        <td><a [href]="t.lien" target="_blank">lien</a></td>
        <td>{{ t.date | date: "short" }}</td>
        <!-- bouton modifier -->
        <td>
          <button
            *ngIf="adminservice.isloggedIn || connected == true && UserA._id==t.user._id "
            class="btn btn-warning"
            (click)="basicModall.show()"
            mdbWavesEffect
            (click)="modifierActualite(t._id)"
          >
            modifier<svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
              />
            </svg>
          </button>
        </td>
        <td>
          <button
            *ngIf="adminservice.isloggedIn || connected == true && UserA._id==t.user._id "
            class="btn btn-danger"
            (click)="supprimerActualite(t._id)"
          >
            supprimer
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
              />
              <path
                fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
              />
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- bouton ajouter une actualite  -->
  <div *ngIf="adminservice.isloggedIn || connected == true">
    <button
      type="button"
      mdbBtn
      class="relative waves-light btn btn-primary btn-sm"
      (click)="basicModal.show()"
      mdbWavesEffect
    >
      ajouter une actualité
    </button>
  </div>
  <!-- model ajouter actualite -->
  <div
    mdbModal
    #basicModal="mdbModal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myBasicModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-notify modal-lg modal-" role="document">
      <div class="modal-content reservation">
        <div class="modal-header">
          <h1 class="text-center modal-title w-100 couleur" id="myModalLabel ">
            <span>ajouter une actualité</span>
          </h1>
        </div>
        <form [formGroup]="actualiteForm">
          <div class="modal-body">
            <div class="container">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="mb-3">objet:</div>
                    </div>
                    <div class="col-sm">
                      <input class="form-control" formControlName="objet" />
                      <div
                        *ngIf="objete.errors?.required && objete.touched"
                        class="alert alert-danger"
                      >
                        l'objet est requis
                      </div>
                      <div
                        *ngIf="objete.errors?.minlength && objete.dirty"
                        class="alert alert-warning"
                      >
                        la taille de l'objet est court
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">corps:</div>
                    <div class="col-sm">
                      <label for="formFile" class="form-label"></label>
                      <input class="form-control" formControlName="corps" />
                      <div
                        *ngIf="corpse.errors?.required && corpse.touched"
                        class="alert alert-danger"
                      >
                        le corps est requis
                      </div>
                      <div
                        *ngIf="corpse.errors?.minlength && corpse.dirty"
                        class="alert alert-warning"
                      >
                        la taille de corps est courte
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="mb-3">lien:</div>
                    </div>
                    <div class="col-sm">
                      <div class="mb-3">
                        <label for="formFile" class="form-label"
                          >entrez l'adresse web:</label
                        >
                        <input class="form-control" formControlName="lien" />
                        <div
                          *ngIf="liene.errors?.required && liene.touched"
                          class="alert alert-danger"
                        >
                          le lien est requis
                        </div>
                        <!-- <div
                          *ngIf="liene.errors?.pattern && liene.dirty"
                          class="alert alert-warning"
                        >
                          la
                        </div> -->
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm">
                      <div class="mb-3">
                        <label for="formFile" class="form-label"
                          >description:</label
                        >
                        <input
                          class="form-control"
                          formControlName="description"
                        />
                        <div
                          *ngIf="
                            descriptione.errors?.required &&
                            descriptione.touched
                          "
                          class="alert alert-danger"
                        >
                          le nom est requis
                        </div>
                        <div
                          *ngIf="
                            descriptione.errors?.minlength && descriptione.dirty
                          "
                          class="alert alert-warning"
                        >
                          la taille de description est courte
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <button
                    type="button"
                    [disabled]="!actualiteForm.valid"
                    mdbBtn
                    class="relative waves-light btn btn-primary btn-sm"
                    (click)="ajouterActualite()"
                    (click)="basicModal.hide()"
                    mdbWavesEffect
                  >
                    ok
                  </button>
                  <button
                    type="button"
                    mdbBtn
                    class="relative waves-light btn btn-secondary btn-sm"
                    (click)="basicModal.hide()"
                    mdbWavesEffect
                  >
                    annuler
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- model modifier actualite -->
  <div
    mdbModal
    #basicModall="mdbModal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myBasicModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-notify modal-lg modal-" role="document">
      <div class="modal-content reservation">
        <div class="modal-header">
          <h1 class="text-center modal-title w-100 couleur" id="myModalLabel ">
            <span>modifier une actualité</span>
          </h1>
        </div>
        <form [formGroup]="modifierActualiteForm">
          <div class="modal-body">
            <div class="container">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="mb-3">objet:</div>
                    </div>
                    <div class="col-sm">
                      <input
                        class="form-control"
                        formControlName="objet"
                        name="objet"
                      />
                    </div>
                    <div
                      *ngIf="objetm.errors?.required && objetm.touched"
                      class="alert alert-danger"
                    >
                      l'objet est requis
                    </div>
                    <div
                      *ngIf="objetm.errors?.minlength && objetm.dirty"
                      class="alert alert-warning"
                    >
                      la taille de l'objet est court
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">corps:</div>
                    <div class="col-sm">
                      <label for="formFile" class="form-label"></label>
                      <input
                        class="form-control"
                        formControlName="corps"
                        name="corps"
                      />
                      <div
                        *ngIf="corpsm.errors?.required && corpsm.touched"
                        class="alert alert-danger"
                      >
                        le corps est requis
                      </div>
                      <div
                        *ngIf="corpsm.errors?.minlength && corpsm.dirty"
                        class="alert alert-warning"
                      >
                        la taille de corps est courte
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="mb-3">lien:</div>
                    </div>
                    <div class="col-sm">
                      <div class="mb-3">
                        <label for="formFile" class="form-label"
                          >entrez l'adresse web:</label
                        >
                        <input
                          class="form-control"
                          formControlName="lien"
                          name="lien"
                        />
                        <div
                          *ngIf="lienm.errors?.required && lienm.touched"
                          class="alert alert-danger"
                        >
                          le lien est requis
                        </div>
                        <!-- <div
                          *ngIf="lienm.errors?.pattern && lienm.dirty"
                          class="alert alert-warning"
                        >
                          la -->
                        <!-- </div> -->
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm">
                      <div class="mb-3">
                        <label for="formFile" class="form-label"
                          >description:</label
                        >
                        <input
                          class="form-control"
                          formControlName="description"
                          name="description"
                        />
                        <div
                          *ngIf="
                            descriptionm.errors?.required &&
                            descriptionm.touched
                          "
                          class="alert alert-danger"
                        >
                          le nom est requis
                        </div>
                        <div
                          *ngIf="
                            descriptionm.errors?.minlength && descriptionm.dirty
                          "
                          class="alert alert-warning"
                        >
                          la taille de description est courte
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <button
                    type="button"
                    mdbBtn
                    class="relative waves-light btn btn-primary btn-sm"
                    (click)="confirmerModificationActualite()"
                    (click)="basicModall.hide()"
                    [disabled]="modifierActualiteForm.invalid"
                    mdbWavesEffect
                  >
                    ok
                  </button>
                  <button
                    type="button"
                    mdbBtn
                    class="relative waves-light btn btn-secondary btn-sm"
                    (click)="basicModall.hide()"
                    mdbWavesEffect
                  >
                    annuler
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
