<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" >
    <mdb-carousel-item>
      <div class="view ">
  
        <img class="d-block  "  src='https://images.pexels.com/photos/936722/pexels-photo-936722.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'   width="1550" height="500"    alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h1-responsive"></h1>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view">
        <img class="d-block "
          src='https://images.pexels.com/photos/374870/pexels-photo-374870.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'
           height="500"      width="1550" 
          alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect>
        </div>
      </div>
      <div class="carousel-caption">
        <h1 class="h1-responsive"></h1>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view ">
        <img class="d-block "src='https://images.pexels.com/photos/1603346/pexels-photo-1603346.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'
        width="1550" height="500"
          alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect>
        </div>
      </div>
      <div class="carousel-caption">
        <h1 class="h1-responsive"></h1>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view  ">
        <img class="d-block "
          src='https://images.pexels.com/photos/2579705/pexels-photo-2579705.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'
          width="1540" height="500"
          alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h1-responsive"></h1>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view  ">
        <img class="d-block "
          src='https://images.pexels.com/photos/5845684/pexels-photo-5845684.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'
          width="1540" height="500"
          alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h1-responsive"></h1>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view  ">
        <img class="d-block " src='https://images.pexels.com/photos/4039921/pexels-photo-4039921.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'
        width="1540" height="500"
        alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h1-responsive"></h1>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
